# Librerias

In [1]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
import matplotlib.pyplot as plt
import seaborn as sns 
import os
import numpy as np
pd.set_option("display.max_columns", None)

In [2]:
df_original = pd.read_excel('../files/input/datos_exportados.xlsx')
df_original

,AÑO,MES,DIA,BARRA,TENSION[kV],0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23
0,2016,4,1,CNM7CNM,13.8,1519.8400,1440.7200,1422.3200,1375.4000,1351.4800,1389.2000,1333.0800,1384.6000,1446.2400,1489.4800,1565.8400,1612.7600,1692.8000,1863.0000,1969.7200,1975.2400,1892.4400,1900.7200,2051.6000,2150.9600,2193.2800,2173.9600,2008.3600,1807.8000
1,2016,4,2,CNM7CNM,13.8,1632.0800,1461.8800,1377.2400,1337.6800,1311.0000,1335.8400,1270.5200,1310.0800,1380.9200,1446.2400,1480.2800,1526.2800,1534.5600,1538.2400,1644.0400,1676.2400,1640.3600,1576.8800,1805.0400,1893.3600,1900.7200,1879.5600,1721.3200,1551.1200
2,2016,4,3,CNM7CNM,13.8,1414.9600,1322.0400,1288.0000,1242.9200,1217.1600,1180.3600,1111.3600,1199.6800,1306.4000,1398.4000,1480.2800,1644.0400,1723.1600,1699.2400,1810.5600,1851.9600,1828.9600,1794.9200,2018.4800,2142.6800,2199.7200,2155.5600,1990.8800,1793.0800
3,2016,4,4,CNM7CNM,13.8,1546.5200,1450.8400,1380.0000,1330.3200,1319.2800,1373.5600,1251.2000,1284.3200,1311.0000,1379.0800,1438.8800,1480.2800,1467.4000,1536.4000,1667.0400,1684.5200,1711.2000,1715.8000,1927.4000,2023.0800,2076.4400,2014.8000,1807.8000,1549.2800
4,2016,4,5,CNM7CNM,13.8,1391.9600,1319.2800,1280.6400,1244.7600,1246.6000,1276.9600,1233.7200,1292.6000,1353.3200,1445.3200,1551.1200,1635.7600,1746.1600,1891.5200,1998.2400,1962.3600,1874.0400,1834.4800,2035.9600,2200.6400,2278.8400,2278.8400,2078.2800,1803.2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497442,2024,9,26,ZUL7URB,13.8,84.2875,80.1075,76.8625,76.2850,76.5050,87.8625,96.7725,98.1200,107.9650,117.3700,131.9450,139.4800,149.1600,131.1200,127.9575,127.3800,111.5400,128.5900,158.3725,178.5850,165.9900,143.8250,120.3400,99.3025
497443,2024,9,27,ZUL7URB,13.8,85.0025,81.4550,79.8600,78.3200,83.4350,87.6425,91.9050,100.6225,117.7000,118.4700,122.5950,134.0350,140.5525,128.3150,128.3975,128.9200,132.1650,142.8350,168.3550,185.7350,174.5975,151.4150,124.4100,102.2725
497444,2024,9,28,ZUL7URB,13.8,90.5300,86.0750,83.0500,83.6275,82.1975,87.8350,85.4150,101.7500,120.8625,134.0350,145.1725,158.7575,163.7900,157.2725,154.9625,150.0950,153.9450,158.5100,184.2775,198.0000,180.6475,161.8375,133.5125,112.6950
497445,2024,9,29,ZUL7URB,13.8,100.2100,95.2050,89.4850,90.1450,83.8200,86.2675,86.9550,102.7675,131.8350,146.7400,151.3875,157.2175,168.1075,165.7700,159.8850,131.1475,109.1200,108.6800,166.9800,186.3400,174.0750,149.9300,120.8625,102.3825
497446,2024,9,30,ZUL7URB,13.8,91.5475,82.8300,78.0725,79.0075,80.9600,86.9275,96.8000,98.0650,106.4525,122.7325,126.5000,130.3775,134.9425,121.7700,121.8250,128.3425,128.3975,137.1425,160.2150,185.4325,174.0200,145.5300,109.4225,93.2800

In [3]:
df_original.drop(columns="TENSION[kV]",inplace=True)
df_original

,AÑO,MES,DIA,BARRA,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23
0,2016,4,1,CNM7CNM,1519.8400,1440.7200,1422.3200,1375.4000,1351.4800,1389.2000,1333.0800,1384.6000,1446.2400,1489.4800,1565.8400,1612.7600,1692.8000,1863.0000,1969.7200,1975.2400,1892.4400,1900.7200,2051.6000,2150.9600,2193.2800,2173.9600,2008.3600,1807.8000
1,2016,4,2,CNM7CNM,1632.0800,1461.8800,1377.2400,1337.6800,1311.0000,1335.8400,1270.5200,1310.0800,1380.9200,1446.2400,1480.2800,1526.2800,1534.5600,1538.2400,1644.0400,1676.2400,1640.3600,1576.8800,1805.0400,1893.3600,1900.7200,1879.5600,1721.3200,1551.1200
2,2016,4,3,CNM7CNM,1414.9600,1322.0400,1288.0000,1242.9200,1217.1600,1180.3600,1111.3600,1199.6800,1306.4000,1398.4000,1480.2800,1644.0400,1723.1600,1699.2400,1810.5600,1851.9600,1828.9600,1794.9200,2018.4800,2142.6800,2199.7200,2155.5600,1990.8800,1793.0800
3,2016,4,4,CNM7CNM,1546.5200,1450.8400,1380.0000,1330.3200,1319.2800,1373.5600,1251.2000,1284.3200,1311.0000,1379.0800,1438.8800,1480.2800,1467.4000,1536.4000,1667.0400,1684.5200,1711.2000,1715.8000,1927.4000,2023.0800,2076.4400,2014.8000,1807.8000,1549.2800
4,2016,4,5,CNM7CNM,1391.9600,1319.2800,1280.6400,1244.7600,1246.6000,1276.9600,1233.7200,1292.6000,1353.3200,1445.3200,1551.1200,1635.7600,1746.1600,1891.5200,1998.2400,1962.3600,1874.0400,1834.4800,2035.9600,2200.6400,2278.8400,2278.8400,2078.2800,1803.2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497442,2024,9,26,ZUL7URB,84.2875,80.1075,76.8625,76.2850,76.5050,87.8625,96.7725,98.1200,107.9650,117.3700,131.9450,139.4800,149.1600,131.1200,127.9575,127.3800,111.5400,128.5900,158.3725,178.5850,165.9900,143.8250,120.3400,99.3025
497443,2024,9,27,ZUL7URB,85.0025,81.4550,79.8600,78.3200,83.4350,87.6425,91.9050,100.6225,117.7000,118.4700,122.5950,134.0350,140.5525,128.3150,128.3975,128.9200,132.1650,142.8350,168.3550,185.7350,174.5975,151.4150,124.4100,102.2725
497444,2024,9,28,ZUL7URB,90.5300,86.0750,83.0500,83.6275,82.1975,87.8350,85.4150,101.7500,120.8625,134.0350,145.1725,158.7575,163.7900,157.2725,154.9625,150.0950,153.9450,158.5100,184.2775,198.0000,180.6475,161.8375,133.5125,112.6950
497445,2024,9,29,ZUL7URB,100.2100,95.2050,89.4850,90.1450,83.8200,86.2675,86.9550,102.7675,131.8350,146.7400,151.3875,157.2175,168.1075,165.7700,159.8850,131.1475,109.1200,108.6800,166.9800,186.3400,174.0750,149.9300,120.8625,102.3825
497446,2024,9,30,ZUL7URB,91.5475,82.8300,78.0725,79.0075,80.9600,86.9275,96.8000,98.0650,106.4525,122.7325,126.5000,130.3775,134.9425,121.7700,121.8250,128.3425,128.3975,137.1425,160.2150,185.4325,174.0200,145.5300,109.4225,93.2800

In [4]:

df_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497447 entries, 0 to 497446
Data columns (total 28 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   AÑO     497447 non-null  int64
 1   MES     497447 non-null  int64
 2   DIA     497447 non-null  int64
 3   BARRA   497447 non-null  object
 4   0       497245 non-null  float64
 5   1       497243 non-null  float64
 6   2       497242 non-null  float64
 7   3       497229 non-null  float64
 8   4       497223 non-null  float64
 9   5       497219 non-null  float64
 10  6       497221 non-null  float64
 11  7       497222 non-null  float64
 12  8       497233 non-null  float64
 13  9       497256 non-null  float64
 14  10      497278 non-null  float64
 15  11      497294 non-null  float64
 16  12      497297 non-null  float64
 17  13      497303 non-null  float64
 18  14      497314 non-null  float64
 19  15      497343 non-null  float64
 20  16      497367 non-null  float64
 21  17      497383 non-null  float64
 22  18      497385 non-null  float64
 23  19      497386 non-null  float64
 24  20      497386 non-null  float64
 25  21      497388 non-null  float64
 26  22      497388 non-null  float64
 27  23      497392 non-null  float64
dtypes: float64(24), int64(3), object(1)
memory usage: 106.3+ MB

In [5]:
# Renombrar las columnas
df_original = df_original.rename(columns={'AÑO': 'year', 'MES': 'month', 'DIA': 'day'})

# Convertir a formato de fecha
df_original['FECHA'] = pd.to_datetime(df_original[['year', 'month', 'day']])

In [6]:
df_original.drop(columns=["year","month","day"], inplace=True)

In [7]:
# Suponiendo que 'df_original' ya está cargado
df_melted = df_original.melt(id_vars=["FECHA", "BARRA"], var_name="HORA", value_name="VALOR")

# Convertimos la fecha y la hora en un datetime
df_melted["FECHA_HORA"] = pd.to_datetime(df_melted["FECHA"]) + pd.to_timedelta(df_melted["HORA"].astype(int), unit="h")

# Ordenamos y reorganizamos columnas
df_melted = df_melted[["FECHA_HORA", "BARRA", "VALOR"]]

# Mostramos el resultado
print(df_melted.head())

  FECHA_HORA    BARRA    VALOR
0 2016-04-01  CNM7CNM  1519.84
1 2016-04-02  CNM7CNM  1632.08
2 2016-04-03  CNM7CNM  1414.96
3 2016-04-04  CNM7CNM  1546.52
4 2016-04-05  CNM7CNM  1391.96

In [8]:
df_pivot = df_melted.pivot(index="FECHA_HORA", columns="BARRA", values="VALOR")

In [9]:
df_pivot.columns.name = None

In [10]:
df_pivot.to_csv("../files/input/data.csv", index=True)